body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#countDisplay {
    text-align: center;
    margin: 1em;
}

#inputField {
    text-align: center;
}

